main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header > div {
  padding: 1.5rem 2rem;
}

header > div > p, .--title {
  font-size: 22px;
  font-weight: 800;
}

section {
  padding: 2rem;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

footer {
  padding: 2rem;
  text-align: center;
}